[Unit]
Description=Bind Instances
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/etc/bind/startinstancemeo.sh

[Install]
WantedBy=multi-user.target
